{% extends "base.html" %}

{% block title %}
{{ article.title }} &middot; {{ SITENAME }} Blog
{% endblock %}

{% block og %}
  {% include "includes/og_article.html" %}
{% endblock og %}

{% block css %}
  {{ super() }}
<link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/css/blog_post.css">
{% endblock %}


{% block page_header %}
{% include "includes/navigation.html" %}
{% endblock page_header %}

{% block content %}
{% set author_info = site.authors.get(article.author |string) %}
{% set article_is_rtl = article.lang is rtl %}
<article lang="{{ article.lang }}" {% if article_is_rtl %}dir="rtl" class="text-right"{% endif %}>
  <!-- Page Header-->
  <header class="mt-4">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                  <div class="post-heading">
                      <h1 class="pt-3 text-primary">{{ article.title }}</h1>
                      <aside class="mb-2">
                      <span class="meta">
                          Posted by
                          <a href="{{ SITEURL }}/{{ article.author.url }}">{{ author_info.display }}</a>
                          on <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                          <span class="text-info"> &middot; {{ article.content | readtime }}</span>
                      </span>
                      {% include "partials/article/share.html" with context %}
                  </aside>
                </div>
              </div>
          </div>
      </div>
  </header>
  <!-- Post Content-->
  <div class="article-post">
      <div class="container">
          <div class="row">
              <div class="col-md-9 mx-auto">
              {% if article.cover %}
                <figure class="text-center w-100 mt-1">
                  <img class"img-fluid" src="{{ SITEURL }}/{{ article.cover }}" alt="Post image">
                {% if article.cover_caption %}
                  <figcaption class="caption text-primary">{{ article.cover_caption }}</figcaption>
                </figure>
                {% endif %}
              {% endif %}
              {{ article.content }}
              <hr />
              <footer>
              <aside>
                <p class="text-info mt-2">
                  <span>Filed under 
                    <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category.name }} </a>
                  </span>
                  {% if article.tags %}
                  <span>
                    and tagged: 
                    {% for tag in article.tags %}
                      <a href="{{ SITEURL }}/{{ tag.url}}">#{{ tag.name }} </a>
                    {% endfor %}
                  </span>
                  {% endif %}
                </p>
              </aside>
              {% include "partials/article/author.html" with context %}
              </footer>
              </div>
          </div>
      </div>
  </div>
</article>
{% endblock %}
