<div class="row justify-content-center">
  <div class="col-lg-10 my-3 mr-auto">
    <a href= "{{ article.share_post.facebook }}" class="btn btn-outline-dark mx-1">
      <span class="fab fa-facebook-f"></span>
      <span class="sr-only">Share on Facebook</span>
    </a>
    <a href="{{ article.share_post.twitter }}" class="btn btn-outline-dark mx-1">
      <span class="fab fa-twitter"></span>
      <span class="sr-only">Share on Twitter</span>
    </a>
    <a href="{{ article.share_post.reddit }}" class="btn btn-outline-dark mx-1">
      <span class="fab fa-reddit"></span>
      <span class="sr-only">Share on Reddit</span>
    </a>
    <a href="{{ article.share_post.linkedin }}" class="btn btn-outline-dark mx-1">
      <span class="fab fa-linkedin"></span>
      <span class="sr-only">Share on Linkedin</span>
    </a>
    <a href="{{ article.share_post.email }}" class="btn btn-outline-dark mx-1">
      <span class="fa fa-envelope"></span>
      <span class="sr-only">Share via email</span>
    </a>
  </div>
</div>