<!-- Footer -->
<footer class="bg-bookworm text-light mt-3 mx-auto">
<div class="container">
  <div class="p-2 text-center">

    <nav class="nav flex-column flex-sm-row my-2">
      {% for nav in site.navigation_menu %}
      <a class="flex-sm-fill nav-link text-light" href="{{ nav.url | absolute_url }}">{{ nav.label }}</a>
      {% endfor %}
    </nav>

  <div class="row justify-content-center">
    <div class="col-lg-10 my-3">
      {% for social_item in site.social %}
      <a class="btn btn-outline-light btn-social mx-1" href="{{ social_item.url }}">
        <i class="fa-fw fa-{{ social_item.icon }}"></i>
        <span class="sr-only">{{ social_item.label }}</span>
      </a>
      {% endfor %}
    </div>
  </div>

    <p class="mt-2 text-center text-light">
    <p>Copyright &copy; {{ AUTHOR }} 2020</p>
    <p class="m-1">{% include "includes/attribution.html" %}</p>
    </p>
  </div>
</div>
</footer>