<nav class="navbar navbar-expand-md {% if nav_light %}navbar-light{% else %}navbar-dark bg-bookworm{% endif %}">
  <div class="container">
    <a class="navbar-brand mx-md-4" href="{{ SITEURL }}">
      <img src="{{ SITEURL }}/static/images/logos/logo32x32.png" alt="">
      <span class="ml-3">{{ SITENAME }}</span>
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% for nav in site.navigation_menu %}
        {% if page %}
        {% set current = page.slug == nav.url.strip("/") %}
        {% elif (output_file == "index.html") and (nav.url == "/") %}
        {% set current = True %}
        {% else %}
        {% set current = False %}
        {% endif %}
        <li class="nav-item {% if current %}active{% endif %}">
          <a class="nav-link" href="{{ nav.url| absolute_url }}" {% if current %}aria-current="page"{% endif %}>{{ nav.label }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</nav>