<section class="counts">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 d-flex align-items-stretch pt-2 pt-xl-0">
        <div class="content d-flex flex-column justify-content-center">
          <div class="row">

            <div class="col-md-5 m-md-1 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="fa fa-3x fa-check-circle"></i>
                <span class="h5">65</span>
                <p><strong>Happy Clients</strong> consequuntur voluptas nostrum aliquid ipsam architecto ut.</p>
              </div>
            </div>
            <div class="col-md-5 m-md-1 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="fa fa-3x fa-check-circle"></i>
                <span class="h5">65</span>
                <p><strong>Happy Clients</strong> consequuntur voluptas nostrum aliquid ipsam architecto ut.</p>
              </div>
            </div>
            <div class="col-md-5 m-md-1 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="fa fa-3x fa-check-circle"></i>
                <span class="h5">65</span>
                <p><strong>Happy Clients</strong> consequuntur voluptas nostrum aliquid ipsam architecto ut.</p>
              </div>
            </div>
            <div class="col-md-5 m-md-1 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="fa fa-3x fa-check-circle"></i>
                <span class="h5">65</span>
                <p><strong>Happy Clients</strong> consequuntur voluptas nostrum aliquid ipsam architecto ut.</p>
              </div>
            </div>
            <div class="col-md-5 m-md-1 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="fa fa-3x fa-check-circle"></i>
                <span class="h5">65</span>
                <p><strong>Happy Clients</strong> consequuntur voluptas nostrum aliquid ipsam architecto ut.</p>
              </div>
            </div>
            <div class="col-md-5 m-md-1 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="fa fa-3x fa-check-circle"></i>
                <span class="h5">65</span>
                <p><strong>Happy Clients</strong> consequuntur voluptas nostrum aliquid ipsam architecto ut.</p>
              </div>
            </div>

          </div>
        </div><!-- End .content-->
      </div>
    </div>
  </div>
</section><!-- End Counts Section -->