<div class="wrapper w-100 bg-bookworm text-white">
<section class="services p-3 p-md-4 m-1" aria-label="Features">
  <div class="container-fluid d-flex align-items-center flex-column">
    <div class="row justify-content-center">
      <div class="col w-100 p-3">
        <h3>Features at a glance</h3>
      </div>
    </div>
    <div class="row justify-content-center m-md-2">
      <div class="col-md-8 text-center mb-2 mx-auto">
        <img src="/static/images/screenshots/bookworm.jpg" class="img-fluid" alt="A screen shot of Bookworm's main window with an open book" />
      </div>
    </div>
    <div class="row text-center">
      {% for feature in site.features %}
      <div class="col-md-3 d-flex align-items-stretch p-3 mx-auto">
        <div class="icon-box p-1 m-2">
          <div class="icon p-2 text-light" role="presentation">
            <i class="fw fa-3x {{ feature.icon }}"></i>
          </div>
          <p class="description mx-md-5">{{ feature.text }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
</div>